body {
    background-color: #171717;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/major/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,.named {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: top 30px bottom 30px;
    text-shadow: 6px 6px#171717;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: top 10px bottom 20px;
    text-align: center;
    text-shadow: 6px 6px#171717;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    padding: top 10px bottom 10px;
    text-shadow: 6px 6px#171717;
}

p {
    padding-left: 30%;
    padding-right: 30%;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px #171717;
}

.center-img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.footer {
    color:darkgray;
    font-size: x-small;
    padding-top: 30px;
}