/*@keyframes yesrico {
    from {position:;}
    to {top};
}*/

body {
    background-color: #171717;
    color:white;
    font-family: Arial, Helvetica, sans-serif
}

.yesrico {
    background-color: #42e900;
    text-align: center;
}

h1,.named {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    padding: top 30px bottom 30px;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: top 10px bottom 20px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.center-img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}